{% extends "layout.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/datatables.bootstrap5.css' %}">
  <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}<title>Organization index</title>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <h1>Organization Index</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="{% url 'addOrg' %}">
        <span>Add Organization</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body">
          <table id="orgTable" class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name TH</th>
                <th>Name EN</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% if not orgList|length %}
                <tr>
                  <td colspan="6">
                    <span>No Data !</span>
                  </td>
                </tr>
              {% endif %}
              {% for org in orgList %}
                <tr>
                  <td>{{ org.id_org }}</td>
                  <td>{{ org.code_org }}</td>
                  <td>{{ org.nameTH_org }}</td>
                  <td>{{ org.nameEN_org }}</td>
                  <td>
                    <a href="{% url 'editOrg' org.id_org %}" class="btn btn-info">
                      <i class="bi bi-pencil-square me-2"></i>
                      <span>Edit</span>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'deleteOrg' org.id_org %}" class="btn btn-danger">
                      <i class="bi bi-trash me-2"></i>
                      <span>Delete</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/datatables.js'%}"></script>
  <script type="text/javascript">
    $(document).ready(()=>{
      $('#orgTable').dataTable();
      // new Swal.fire("SweetAlert2 is working!");
      
    });
  </script>
  {% if messages %}
    {% for message in messages %}
      <script type="text/javascript">
        $(document).ready(() => {
          const mssTags = "{{message.tags}}";
          const mss = "{{message}}";
          const mssH = mssTags == "Error" ? "error":"Success";
          let txtColor = mssTags == "error" ? "error":"success";
          Swal.fire({
            title: mssH,
            text: mss,
            icon: "success"
          });
        });
      </script>
    {% endfor %}
  {% endif %}
{% endblock %}
